body {
  background-color: #0d1a2d;
  display: grid;
  height: 100vh;
  place-items: center;
}

.box {
  height: 430px;
  width: auto;
  background-color: #15263e;
  border-radius: 15px;
}

.img1 {
  padding: 15px;
  width: 200px;
  border-radius: 15px;
}

.text1 {
  color: white;
  padding-left: 15px;
}

.text2 {
  width: 200px;
  padding-left: 15px;
  color: #7a90af;
  font-size: 15px;
}

.img2 {
  width: 8px;
  padding-top: 6px;
  float: left;
}

.text3 {
  width: 100px;
  padding-top: 4px;
  color: #21dcd9;
  padding-left: 15px;
}

hr {
  margin: 0px 20px;
  /* color: #20324a; */
  color: grey;
}

.avatar {
  width: 20px;
  border: 1px solid white;
  float: left;
  border-radius: 15px;
  margin: 15px 0px;
}

.text4 {
  float: left;
  padding-left: 10px;
}

.text5 {
  color: white;
  float: right;
  padding-left: 10px;

  /* margin-left: 130px; */
}

.bottom {
  height: 50px;
  padding: 0 15px;
}

.ETH {
  padding-left: 15px;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
}
